body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f5dbdb;
}

header {
    background-color: #353bee;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

main {
    margin-top: 20px;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select,
button {
    padding: 10px;
    font-size: 16px;
}