body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f5dbdb;
}

header {
    background-color: #767afc;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

main {
    margin-top: 20px;
}